# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*.class

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Uvicorn
*.pid
